@charset "UTF-8";
/* CSS Document */
html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.photoCenter{
	width: 100%;
	margin: 20px auto;
	text-align: center;
}
.photoViewer{
	width: 75%;
	max-width: 900px;
	cursor: pointer;
}
.btns{
	cursor: pointer;
}